<!--<section class="info-bar info-bar-clean">
    <div class="container">

        <div class="row">

            <div class="col-sm-4">
                <i class="glyphicon glyphicon-globe"></i>
                <h3>FULLY RESPONSIVE</h3>
                <p>Smarty Template is fully responsive</p>
            </div>

            <div class="col-sm-4">
                <i class="glyphicon glyphicon-usd"></i>
                <h3>ADMIN INCLUDED</h3>
                <p>Smarty Template include admin</p>
            </div>

            <div class="col-sm-4">
                <i class="glyphicon glyphicon-flag"></i>
                <h3>ONLINE SUPPORT 24/7</h3>
                <p>Free support via email</p>
            </div>

        </div>

    </div>
</section>-->

            <!-- WELCOME -->
<section class="nopadding-bottom alternate">
    <div class="container">
        <header class="text-center margin-bottom-40">
            <h1 class="weight-300">Welcome to Smarty</h1>
            <h2 class="weight-300 letter-spacing-1 size-13"><span>THE MOST COMPLETE TEMPLATE EVER</span></h2>
        </header>

        <div class="text-center">
            <p class="lead">
                Smarty has powerful options &amp; tools, unlimited designs, responsive framework and amazing support.
                We are dedicated to providing you with the best experience possible. Read below to find out why the sky's the limit when using Smarty.
            </p>

            <!--<div class="margin-top-40">
                <img class="img-responsive" src="assets/images/demo/index/ipad.jpg" alt="welcome" />
            </div>-->

        </div>
    </div>
</section>
<!-- /WELCOME -->

<section>
    <div class="container">

        <div class="row">

            <div class="col-sm-3 col-md-3 col-lg-3" ng-repeat="category in Categories | orderBy:'Name'">

                <div class="box-icon box-icon-left">
                    <a class="box-icon-title" href="#">
                        <i class="{{ category.Icon }}"></i>
                        <h2>{{ category.Name }}</h2>
                    </a>
                    <ul>
                        <li ng-repeat="subCategory in category.SubCategories">
                            <a href="#">{{ subCategory.Name }}</a>
                        </li>
                    </ul>
                    
                </div>

            </div>

            <!--<div class="col-sm-6 col-md-4 col-lg-4">

                <div class="box-icon box-icon-left">
                    <a class="box-icon-title" href="#">
                        <i class="et-document"></i>
                        <h2>RTL SUPPORT</h2>
                    </a>
                    <p class="text-muted">Lorem definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii.</p>
                </div>

            </div>

            <div class="col-sm-6 col-md-4 col-lg-4">

                <div class="box-icon box-icon-left">
                    <a class="box-icon-title" href="#">
                        <i class="et-basket"></i>
                        <h2>MOBILE COMPATIBILE</h2>
                    </a>
                    <p class="text-muted">Lorem definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii.</p>
                </div>

            </div>

            <div class="col-sm-6 col-md-4 col-lg-4">

                <div class="box-icon box-icon-left">
                    <a class="box-icon-title" href="#">
                        <i class="et-briefcase"></i>
                        <h2>CLEAN CODE</h2>
                    </a>
                    <p class="text-muted">Lorem definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii.</p>
                </div>

            </div>

            <div class="col-sm-6 col-md-4 col-lg-4">

                <div class="box-icon box-icon-left">
                    <a class="box-icon-title" href="#">
                        <i class="et-megaphone"></i>
                        <h2>PREMIUM SLIDERS</h2>
                    </a>
                    <p class="text-muted">Lorem definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii.</p>
                </div>

            </div>

            <div class="col-sm-6 col-md-4 col-lg-4">

                <div class="box-icon box-icon-left">
                    <a class="box-icon-title" href="#">
                        <i class="et-flag"></i>
                        <h2>SIMPLE TO USE</h2>
                    </a>
                    <p class="text-muted">Lorem definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii.</p>
                </div>

            </div>

            <div class="col-sm-6 col-md-4 col-lg-4">

                <div class="box-icon box-icon-left">
                    <a class="box-icon-title" href="#">
                        <i class="et-puzzle"></i>
                        <h2>LIGHTWEIGHT</h2>
                    </a>
                    <p class="text-muted">Lorem definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii.</p>
                </div>

            </div>

            <div class="col-sm-6 col-md-4 col-lg-4">

                <div class="box-icon box-icon-left">
                    <a class="box-icon-title" href="#">
                        <i class="et-trophy"></i>
                        <h2>ADMIN INCLUDED</h2>
                    </a>
                    <p class="text-muted">Lorem definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii.</p>
                </div>

            </div>

            <div class="col-sm-6 col-md-4 col-lg-4">

                <div class="box-icon box-icon-left">
                    <a class="box-icon-title" href="#">
                        <i class="et-layers"></i>
                        <h2>PARALLAX</h2>
                    </a>
                    <p class="text-muted">Lorem definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii.</p>
                </div>

            </div>-->

        </div>

    </div>
</section>


<section class="alternate">
    <div class="container">

        <div class="row">

            <div class="col-md-4">

                <div class="box-icon box-icon-side box-icon-color box-icon-round">
                    <i class="fa fa-tablet"></i>
                    <a class="box-icon-title" href="#">
                        <h2>Fully Reposnive</h2>
                    </a>
                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                    <a class="box-icon-more font-lato weight-300" href="#">Learn More</a>
                </div>

            </div>

            <div class="col-md-4">

                <div class="box-icon box-icon-side box-icon-color box-icon-round">
                    <i class="fa fa-tint"></i>
                    <a class="box-icon-title" href="#">
                        <h2>Reusable Elements</h2>
                    </a>
                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                    <a class="box-icon-more font-lato weight-300" href="#">Learn More</a>
                </div>

            </div>

            <div class="col-md-4">

                <div class="box-icon box-icon-side box-icon-color box-icon-round">
                    <i class="fa fa-cogs"></i>
                    <a class="box-icon-title" href="#">
                        <h2>Multipurpose</h2>
                    </a>
                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                    <a class="box-icon-more font-lato weight-300" href="#">Learn More</a>
                </div>

            </div>

        </div>

    </div>
</section>



            <!-- COLOR BOXES -->
<section class="nopadding noborder">
    <!--
        .box-pink
        .box-blue
        .box-orange
        .box-yellow
        .box-purple
        .box-red
        .box-brown
        .box-green
        .box-black
        .box-gray
        .box-teal



    CREATE YOUR OWN COLORS - CSS EXAMPLE:
        .box-pink>div:nth-child(1) {
            background-color:#e2476b;
        }
        .box-pink>div:nth-child(2) {
            background-color:#e9738f;
        }
        .box-pink>div:nth-child(3) {
            background-color:#f09fb2;
        }
        .box-pink>div:nth-child(4) {
            background-color:#f7cbd5;
        }

    -->
    <div class="row box-gradient box-gray">
        <div class="col-xs-6 col-sm-3">
            <i class="fa fa-child fa-4x"></i>
            <h2 class="countTo font-raleway" data-speed="3000">8165</h2>
            <p>HAPPY CUSTOMERS</p>
        </div>

        <div class="col-xs-6 col-sm-3">
            <i class="fa fa-smile-o fa-4x"></i>
            <h2 class="countTo font-raleway" data-speed="3000">1033</h2>
            <p>FACIALS</p>
        </div>

        <div class="col-xs-6 col-sm-3">
            <i class="fa fa-heart fa-4x"></i>
            <h2 class="countTo font-raleway" data-speed="3000">24567</h2>
            <p>MASSAGES</p>
        </div>

        <div class="col-xs-6 col-sm-3">
            <i class="fa fa-female fa-4x"></i>
            <h2 class="countTo font-raleway" data-speed="3000">68</h2>
            <p>MOTHERS TO BE</p>
        </div>
    </div>
</section>
<!-- /COLOR BOXES -->